@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
*{
    padding: 0vw;
    margin: 0.5vw;
}

#text1{
    display: inline;
    text-align: left;
    float: left;
}

.logo h1{
    margin-left: 1vw;
}

.body{
    text-align: center;
    background-color: #eccedf;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;
    min-height: 1vh;
}

.box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5473f0;
    border: 1px solid black;
    border-radius: 5px;
    }

    .body div{
        max-height: 100vh;
        min-height: 1vh;
        min-width: 1vw;
    }

.sidelink{
    background-color: #43d9ec;
    border-radius: 0.5vw;
    float: left;
    display: inline-block;
    max-width: 10vw;
    border: 0.1vw solid black;
    max-height: 100vh;
}

.content img {
    width: 60vw;
    height: 50vh;
}

.content img{
    min-width: 1vw;
    min-height: 1vh;
}

.body p{
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1.15vw;
}

.side-contents img{
    min-width: 1vw;
    min-height: 1vh;
}

.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dfd54c;
    border: 1px solid black;
    display: inline-block;
    max-width: 62vw;
    border-radius: 5px;
    max-height: 100vh;
    text-align: left;
    min-height: 1vh;
    min-width: 1vw;
}

.h1{
    text-align: left;
}

.a{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.body {
    min-height: 1vh; 
}



.body img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.side-contents{
    border: 1px solid black;
    background-color: #43d9ec;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 20vw;
    max-height: 100vh;
    border-radius: 5px;
}



.side-contents img{
    width: 15vw;
    height: 15vw;
    float: center;
}

.side-contents p{
    text-align: left;
}

.linksgrp1{
    text-align: right;
}


#youtube {
    background-color: red;
   }
   #instagram {
    background-color: orangered;
   }
   #twitter {
   background-color: cyan;
   }
   #facebook {
   background-color: blue;
   }
   
   #youtube a{
    color: white;
   }
   #instagram a{
    color: white;
   }
   #twitter a{
    color: white;
   }
   #facebook a{
    color: white;
   }

   #fb a{
    color: white;
   }
   #twt a{
    color: white;
   }
   #ig a{
    color: white;
   }
   #yt a{
    color: white;
   }

   #fb{
    background-color: #5473f0;
   }
   
   .links{
    border:1px solid black;
     display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-transform: uppercase;
    font-weight: 600;
    opacity:1;
    transition:.6s;
    border-radius: 5px;
    }

   .links:hover{
   opacity: 1;
   transition: .4s;
   font-size:xx-large;
   font-family: 'Pixelify Sans';
   }

   #yt {
    background-color: red;
}

#fb{
    background-color: blue;
}

#twt{
    background-color: cadetblue;
}

#ig{
    background-color: orangered;
}

.links1:hover {
    opacity: 1;
    transition: 0.4s;
    font-size: large;
    font-family: 'Pixelify Sans';
}

.links1{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    text-transform: uppercase;
    transition: 0.6s;
    max-height: 50vh;
    max-width: 10vw;
    min-height: 5vh;
    font-weight: 600;
    opacity:1;
    transition:.6s;
    border-radius: 5px;
}

.links1 a {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1vw;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    min-height: 1vh;
}

.links a {
    font-size: 1vw;
    text-decoration: none;
}